body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 375px;
  font-family: "Montserrat", sans-serif, "Arial";
  font-style: normal;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
