$grayText: #686868;
$grayBackground: #e8e8e8;
$black: #0e0e13;
$white: #ffffff;
$pink: #fe6174;
$azure: #42cafe;
$blue: #2733eb;
$purple: #8042ff;


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  word-wrap: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
