.enjoy {
  background: $black;
  overflow: hidden;
}

.enjoy__container {
  position: relative;
  max-width: 1100px;
  padding: 201px 20px 241px 20px;
  margin: 0 auto;
}

.enjoy__heading {
  margin: 0;
  width: 46%;
  @include pk50($white);
}

.enjoy__image {
  position: absolute;
  top: 160px;
  right: 0;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 228px;
    height: 229px;
    border-radius: 50%;
    background: $purple;
    filter: blur(158px);
  }
}
